#upperbanner {
	font-size: 18px;
    color: white;
    background-color: #4242f0;
}
#lowerbanner {
	font-size: 18px;
    color: white;
    background-color: #4242f0;
}
#members {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#members td, #members th {
	font-size: 14px;
    border: 1px solid #ddd;
    padding: 8px;
}

#members tr:nth-child(even){background-color: #f2f2f2;}

#members tr:hover {background-color: #ddd;}

#tableguide {background-color: orange;}

th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    color: black;
}
label{
    float: left;
    width: 160px;
    text-align: right;
    padding: 12px 4px;
    font-weight: bold;
}

input[type=text], select {
    width: 280px;
    padding: 5px 6px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 120px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    font-size: 18px;
    text-align: center;
}

h2 {
    font-size: 15px;
    text-align: center;
}
h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}
h4 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}
a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 1.2;
}
* {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.2;
}

.hover {
  position: relative;
  top: 50px;
  left: 50px;
}

.tooltip {
  /* hide and position tooltip */
  top: -10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.hover:hover .tooltip {
  /* display tooltip on hover */
  opacity: 1;
}
